[Unit]
Description=speedtest-z service

[Service]
Type=simple
EnvironmentFile=-/etc/default/speedtest-z
ExecStart=%h/speedtest-z/.venv/bin/speedtest-z $SPEEDTEST_Z_OPTS
WorkingDirectory=%h/speedtest-z
User=shige
Group=shige

[Install]
WantedBy=multi-user.target
